@model ShoppingCart
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary">Book Detail</h1>

<form asp-action="AddToCart" asp-controller="ShoppingCart" method="post">
    <input type="hidden" name="id" value="@Model.book.ID" />

    <div class="card container">
        <div class="card-header bg-primary text-white row">
            <div class="col-md-6">
                <h2>@Model.book.Title</h2>
                <p class="text-warning">Author: @Model.book.Author</p>
            </div>
            <div class="col-md-6 text-end pt-4">
                <span class="badge bg-info" style="height:30px;">
                    @Model.book.Category?.Name
                </span>
            </div>
        </div>

        <div class="card-body row">
            <div class="col-md-8">
                <h5 class="text-muted">Price: <span class="text-danger">@Model.book.Price.ToString("c")</span></h5>
                <p class="text-secondary mt-3">Description:</p>
                <div>@Model.book.Description</div>

                <div class="mt-4">
                    <label for="quantity" class="form-label text-primary"><strong>Quantity:</strong></label>
                    <input type="number" name="quantity" value="@Model.Count" class="form-control" min="1" required />
                </div>
            </div>

            <div class="col-md-4 text-center">
                <<img src="@Url.Content($"~/{Model.book.Cover}")" class="img-fluid rounded" alt="Book Cover" />
            </div>
        </div>

        <div class="card-footer row">
            <div class="col-md-6 mb-2">
                <a class="btn btn-secondary form-control" asp-action="Index">Back to List</a>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success form-control">
                    <i class="bi bi-cart-plus"></i> Add to Cart
                </button>
            </div>
        </div>
    </div>
</form>
